:root {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5vh;

    font-size: 2.25rem;
    letter-spacing: 0.1rem;
}

.menu {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 10vh;
}

.menu button {
    
    margin: 3vh;

    font-size: 2.25rem;
    letter-spacing: 0.2rem;

    border: 0.2rem solid #9dd1f1;
}

.timer {
    display: flex;

    justify-content: center;
    align-items: center;

    color: blue;
}

.main--input {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2vh;
}

.main--input-active {
    border-radius: 0.5rem;
    border: 1px solid blue;

    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.main--input-active:focus {
    outline: none;
}

table, tbody, tr, td {
    border: 1px solid blue;
}

td {
    font-size: 1.5rem;
    width: 32px;
    height: 32px;
    text-align: center;
}

.game-board {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5vh 0;
}

.default-cells {
    padding: 0.75rem;
}